<div class="card text-dark bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/alumnos/form">Añadir alumno</button>
        <!-- Símbolo ? => si el objeto alumnos es indefinido o null se invoca el atributo length -->
        <div class="alert alert-info" *ngIf="lista?.length==0">
            <h1>No hay alumnos en el sistema.</h1>
        </div>
        <table class="table table-hover table-striped mt-5" *ngIf="lista?.length>0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha creación</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of lista">
                    <td>{{alumno.id}}</td>
                    <td>{{alumno.nombre | uppercase}} </td>
                    <td>{{alumno.apellido | uppercase}} </td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.createAt | date: 'short'}}</td>
                    <td>
                        <a class="" [routerLink]="['/alumnos/form', alumno.id]">
                            <mat-icon class="primary"> border_color</mat-icon>
                        </a>
                    </td>
                    <td>

                        <a (click)="eliminar(alumno)">
                            <mat-icon class="text-danger">delete</mat-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator class="float-left mx-2" [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons>
        </mat-paginator>
    </div>