<div class="card text-dark bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <table class="table table-hover table-striped mt-5">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha creación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos">
                    <td>{{alumno.id}}</td>
                    <td>{{alumno.nombre | uppercase}} </td>
                    <td>{{alumno.apellido | uppercase}} </td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.createAt | date: 'short'}}</td>
                </tr>
            </tbody>
        </table>

        <h5 class="card-title">Notas</h5>
        <p class="card-text">Alumnos inscritos en el centro o que han realizado un curso anteriormente.</p>
    </div>